---
layout: default
---

<div class="entry" style="margin-bottom: 30px">
	Insert a great story
	
	
	{% for image in site.static_files %}
    		{% if image.path contains 'images' %}
        	<img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    		{% endif %}
	{% endfor %}
	
	<ul class="photo-gallery">
  		{% for image in site.static_files %}
			{% if image.path contains 'images' %}
    			<li>
      				<img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    			</li>
  		{% endfor %}
	</ul>
	
</div>

